<div class="centered-content">
    <div class="modal-box form-group">
        <h1 class="title">Connection</h1>
        <input #authLogin type="text" class="form-control has-background-light" placeholder="Entrez votre login">
        <input #authPass type="password" class="form-control has-background-light" placeholder="Entrez votre mot de passe">
        <button class="btn btn-primary" (click)="connect(authLogin.value, authPass.value)">Valider</button>
        <button class="btn white-text" routerLink='/'>Annuler</button>
    </div>
</div>